{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="{% static 'css/normalizar.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="{% static 'css/estilos_generales.css' %}">
    {% block styles %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <title>{% block title %}Título por defecto{% endblock %}</title>
</head>
<body>
    {% include 'navegador_derecho.html' %}

    <div class="contenido_total">
        {% block content %}
        <!-- Contenido específico de cada página se insertará aquí -->
        {% endblock %}
    </div>
    <script type="text/javascript">
        const API_URL = "{{ API_URL }}";
    </script>
    {% block scripts %}{% endblock %}
    <script src="{% static 'js/rol_usuario_verificar.js' %}"></script>
</body>
</html>
