{% extends 'base.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/estilos_contenedor_form_elementos.css' %}">
{% endblock %}

{% block title %}
Usuarios
{% endblock %}

{% block content %}
<h1>Usuarios</h1>

{% include 'campo_buscador_elemento.html'%}

<div class="tabla_elementos_form">

    <div class="tabla_elementos" id="usuarios-table">
        <!-- Aquí se cargarán los usuarios -->
    </div>
    <form id="usuarios-form" class="form">
        <h3 class="titulo_tipo_campos_texto">Datos generales</h3>
        <div class="campo_texto">
            <label for="usuario">Usuario:</label>
            <input type="text" id="usuario" name="usuario" placeholder="Usuario" required>
        </div>
        <div class="campo_texto">
            <label for="email">Correo:</label>
            <input type="email" id="email" name="email" placeholder="Correo" required>
        </div>
        <div class="campo_texto">
            <label for="contraseña">Contraseña:</label>
            <input type="text" id="contraseña" name="contraseña" placeholder="Contraseña" required>
        </div>
        <div class="campo_texto">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" placeholder="Nombre" required>
        </div>
        <div class="campo_texto">
            <label for="idRol">Rol:</label>
            <select id="idRol" name="idRol" required></select>
        </div>
        <input style="display:none" type="number" id="estatus" placeholder="Estatus" value="1" required>
        <div class="contenedor_botones">
            <button type="button" id="delete-btn" class="boton_normal"
                style="background-color: var(--color_cafe); display:none">Eliminar</button>
            <button type="submit" class="boton_normal" style="background-color: var(--color_azul);">Guardar</button>
        </div>
        <div id="error-message" style="color: red;"></div>
        <div id="success-message" style="color: green;"></div>
    </form>
</div>

<div class="ventana_confirmar" id="ventana_confirmar" style="display: none;">
    <div class="contenedor_ventana">
        <h3>Eliminar Usuario</h3>
        <p>¿Estás seguro que deseas eliminar <span id="span-resto-mensaje-confirmacion"> </span>?</p> 
        <div>
            <button class="boton_normal" style="background-color:var(--color_azul)" id="boton-salir-ventana">No</button>
            <button class="boton_normal" style="background-color:#671212" id="delete-button-total">Sí, eliminar</button>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/crear_usuario.js' %}"></script>
{% endblock %}